//- layout.pug
extends base.pug

block scripts
    script(src='/static/index.js')

block style
    style
      include ../static/style.css

block content
    section#introSection
        div Welcome to Aditya's Dance Academy
        div.small Eat Sleep Dance Repeat 

    section#missionSection
        h2 Our Mission
        div.card
            h3 Dance Perfection
            div.card-box
                div.card-img
                    img(src="/static/lllogo.png")
                div.card-content
                    p This is the best website in universe
        div.card
            h3 Dance the way you like
            div.card-box
                div.card-img
                    img(src="/static/mmlogo.png")
                div.card-content
                    p This is the best website in universe
        div.card
            h3 Expert Teaching
            div.card-box
                div.card-img
                    img(src="/static/rrlogo.png")
                div.card-content
                    p This is the best website in universe
    section#sponsorsSection
        h2 section for sponsor
        div#sponsors
            img(src="/static/Apple.png",class="spimage", alt="apple")
            img(src="/static/micro.png",class="spimage" ,alt="microsoft")
            img(src="/static/Skype.png",class="spimage" ,alt="skype")
            img(src="/static/HP.png",class="spimage" ,alt="hp")
