*{
    text-align: center;
    color: #0e249e;
    font-weight: bold;
    text-decoration: none;
}
div.contain{
    background: #dc7656;
    border: 5px solid #0a60a5;
    border-radius: 35px;
    display: grid;
    padding: 185px;
}
body {
    margin: auto;
    padding: 100px;   
    background-color: black;
}
h2 {
    color: #091b9a;
}
input{
    border-radius: 7px;
}
.btn1{
    border-radius: 7px;
    background: #130501;
    margin: 20px;
}
.add{
    padding: 15px;
    background-color: #060e38;
    text-align: center;
    border-radius: 6px;
    margin: 32px;
}
.vi{
    background-color: #060e38;
    text-align: center;
    border-radius: 6px;
    margin: 32px;
    padding: 15px;
}
.de{
    padding: 15px;
    background-color: #060e38;
    text-align: center;
    border-radius: 6px;
    margin: 32px;
}
.ed{
    padding: 15px;
    background-color: #060e38;
    text-align: center;
    border-radius: 6px;
    margin: 32px;
}
